.header-two-bars{
	font:13px Arial, Helvetica, sans-serif;
}

.header-two-bars .header-limiter{
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-two-bars h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-two-bars h1 span {
	color: #bc40df;
}

.logo {
	height: 40px;
	margin-bottom: 10px;
}
/* The first bar */

.header-two-bars .header-first-bar{
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.header-two-bars .header-first-bar a {
	color: #ffffff;
	text-decoration: none;
}

.header-two-bars .header-first-bar nav {
	font:14px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-two-bars .header-first-bar nav a{
	display: inline-block;
	padding: 0 5px;
	opacity: 0.9;
	text-decoration:none;
	line-height: 1;
}

.header-two-bars .header-first-bar nav a:hover {
	opacity: 1;
}

.header-two-bars .header-first-bar nav a.selected {
	border-radius: 2px;
	background-color: #2B5773;
	padding: 8px 12px;
}

.header-two-bars .header-first-bar a.logout-button {
	font-size: 13px;
	font-weight: bold;
	float: right;
	border-radius: 3px;
	background-color: rgba(58, 60, 62, 0);
	height: 40px;
	padding: 0 20px;
	border: 1px 0px 1px 0px solid #5E6367;
	line-height: 40px;
	box-sizing: border-box;
	cursor: pointer;
}

.icon-search{
	height: 40px;
	width: 40px;
}


/* Second Bar */

.ui.menu {
	border: 0px solid rgba(34,36,38,.15);
	box-shadow: 0 0px 0px 0 rgba(34,36,38,.15);
}

.header-line{
	border-bottom: 3px solid rgba(34,36,38,.15);
}

.header-two-bars .header-second-bar {

	background-color: #ffffff;
	box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.05);
	padding: 20px 40px;
}

.header-two-bars .header-second-bar h2 {
	line-height: 20px;
	margin: 0;
	float: left;
}

.header-two-bars .header-second-bar h2 a {
	font-size: 16px;
	color: #4e5359;
	text-decoration: none;
}

.header-two-bars .header-second-bar nav {
	float: left;
	text-align: right;
	line-height: 20px;
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.header-two-bars .header-second-bar nav a {
	margin-left: 15px;
	margin-right: 15px;
	display: inline-block;
	color: #4e5359;
	text-decoration: none;
}

.header-two-bars .header-second-bar nav i.fa {
	color: #A9B7BF;
	margin: 0 4px 0 15px;
}


/*	Making the header responsive. Remove these styles, if
	you don't need the header to work on mobile devices. */

.header-two-bars .header-limiter .header-user-menu{
	position: relative;
	float:right;
	background-color:#3a3c3e;
	width:75px;
	height:40px;
	border-radius:2px;
}

.header-two-bars .header-limiter .header-user-menu:before{
	content:'';
	width:0;
	height:0;
	top: 18px;
	left: 15px;
	position:absolute;
	border:5px solid transparent;
	border-top-color:#fff;
}

.header-two-bars .header-limiter .header-user-menu ul{
	display: none;
	font:bold 13px Arial, Helvetica, sans-serif;
	background-color: inherit;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 125px;
	top: 25px;
	right: 0;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.header-two-bars .header-user-menu:active ul,
.header-two-bars .header-user-menu:hover ul,
.header-two-bars .header-user-menu.show ul{
	display:block;
}

.header-two-bars .header-user-menu ul li{
	padding:5px;
}

.header-two-bars .header-user-menu ul li a:hover{
	opacity:0.9;
}

.header-two-bars .header-user-menu ul li a.highlight{
	color:#e9ac09;
}

.header-two-bars .header-user-menu img{
	border-radius:50%;
	position:absolute;
	top:6px;
	max-width: 28px;
	right:10px;
}

.header-two-bars .header-limiter form {
	float: left;
	position: relative;
	right: 30px;
	margin-left: 500px;
	border-radius: 3px;
	cursor: pointer;

	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}



.header-two-bars .header-limiter form button {
	position: absolute;
	content: '';
	background-color: #3a3c3e;
	width: 40px;
	height: 40px;
	right: 30px;
	
}

/* The search box */

.header-two-bars .header-limiter form input {
	position: absolute;
	right: 42px;
	padding: 11px 12px 9px;
	border: none;
	width: 400px;
	border-radius: 2px 0 0 2px;
	height: 39px;
	color: black;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
	


@media all and (max-width: 800px) {

	.header-two-bars .header-second-bar nav{
		font-size:14px;
	}

}

@media all and (max-width: 600px) {

	.header-two-bars .header-first-bar{
		padding:20px 0;
	}

	.header-two-bars .header-first-bar h1 {
		float: none;
		margin: -8px 0 2px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-two-bars .header-first-bar nav {
		margin: 0;
		float: none;
		font-size:13px;
	}

	.header-two-bars .header-first-bar nav a.selected {
		padding: 5px 8px;
	}

	.header-two-bars .header-first-bar .logout-button {
		display: none;
	}

	.header-two-bars .header-second-bar{
		padding: 20px 0;
	}

	.header-two-bars .header-second-bar h2{
		float:none;
		margin: 0 0 12px;
	}

	.header-two-bars .header-second-bar nav{
		text-align: center;
	}

	.header-two-bars .header-second-bar nav a{
		display: block;
		padding: 8px;
	}

	.header-two-bars .header-second-bar nav i.fa{
		margin-left:0;
	}
}