@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.music-card-div .music-card-wrapper {
    width: 180px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.music-card-img {
    transition: transform .3s;
}

.music-card-div .music-card-wrapper .music-card-img {
    width: 100%;
    transition: transform .3s;
}

.music-card-div .music-card-wrapper:hover .music-card-img {

    -webkit-filter: blur(3.7px);
    -ms-transform: scale(1.04);
    /* IE 9 */
    -webkit-transform: scale(1.04);
    /* Safari 3-8 */
    transform: scale(1.04);
}

.music-card-div .music-card-wrapper .music-card-button {
    display: none;
    position: absolute;
    margin: 0px;
    top: 30%;
    width: 100%;
    height: 100%;
}

.music-card-div .music-card-wrapper:hover .music-card-button {
    display: table-cell;
    height: 50px;

}

.slick-next:before {
    font-size: 35px !important;
    color: black !important;
    content: '⟩' !important;
}

.slick-prev:before {
    font-size: 35px !important;
    color: black !important;
    content: '⟨' !important;
}

.home-page-h1-left {
    text-align: left
}

.music-card-name {
    display: block;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.music-card-artist {
    display: block;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.music-card-content {
    cursor: pointer;
}

.music-card-div .music-card-wrapper .music-card-img {
    width: 100%;
    width: 180px;
    height: 130px;
}