@import "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css";


.playlist .ui.placeholder.segment {
    background-color: #0a7065;
}

.playlist img {
    max-width: 25%;
}

.playlist .ui.button {
    position: relative;
    float: right;
}

.playlist .icon.big {
    position: relative;
    float: left;
}

.playlist .plus.square.icon.big {
    position: relative;
    float: right;
}
.playlist .minus.square.icon {
    position: relative;
    float: right;
    padding-right: 20px;
}