@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.ant-carousel .slick-slide {
    text-align: center;
    height: 100%;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

.home-page-song-list-card{
  z-index: 1;
  position: relative;
 
}

.song-card{
  padding: 20px;
}


.recommend-slider{
  margin: 20px 25px 20px 25px;
}