.info-h3 {
  margin-top: '2em';
  padding: '2em 0em';
  text-align: left;
}

.info-right-col{
  padding-left: 35px !important ;
  box-shadow: 0 0 0 0 #ffffff !important;
}

.info-center{
  margin-top: 10px;
  text-align: center;
  display: block !important;
}