.container {
    align-content: left;
    text-align: left;
    padding-bottom: 5%;
}

.left {
    width: 30%;
    position: relative;
    float: left;
}

.right {
    width: 70%;
    position: relative;
    float: right;
}